@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Spacec Grotesk", sans-serif;
  background-color: #190b1f;
}

h2 {
  @apply text-xl md:text-4xl;
}

p {
  @apply text-xl tracking-tight leading-relaxed;
}

span {
  @apply text-purple-600;
}

.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, rgba(178, 19, 202, 0.2), transparent 70%);
}

.bg-primary-color {
  @apply bg-purple-600;
}
